extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                 img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus libero, viverra eget tristique a, sodales in lectus. Pellentesque pretium lacinia augue eu porttitor. Fusce bibendum neque nisi, quis mattis diam semper eget. Suspendisse accumsan augue at velit aliquam imperdiet. Cras scelerisque, magna vel suscipit vestibulum, justo felis iaculis lacus, in porta dolor mauris at risus. 

                p Vivamus euismod leo nibh, et mattis tortor consequat et. Quisque malesuada, eros vel malesuada sodales, lectus eros interdum odio, id consectetur purus sem a mi. Nam sed ligula dui. Donec id libero sit amet orci laoreet maximus ut sed magna. Morbi congue ante a purus euismod elementum. Phasellus at metus elit. 

                p Sed eget nunc interdum, imperdiet est ac, ultrices nunc. Vestibulum vehicula fringilla blandit. Aliquam blandit, felis non eleifend tempus, enim dolor molestie dui, a fermentum urna massa ut velit. Vestibulum eu tellus vel eros posuere mattis convallis ac risus. Morbi ut imperdiet augue. In non felis et arcu placerat consectetur sed id turpis. Aliquam ligula arcu, feugiat quis nisi sed, egestas malesuada quam.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Morbi ut imperdiet augue. In non felis et arcu placerat consectetur sed id turpis. Aliquam ligula arcu, feugiat quis nisi sed, egestas malesuada quam.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Morbi ut imperdiet augue. In non felis et arcu placerat consectetur sed id turpis. Aliquam ligula arcu, feugiat quis nisi sed, egestas malesuada quam.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Morbi ut imperdiet augue. In non felis et arcu placerat consectetur sed id turpis. Aliquam ligula arcu, feugiat quis nisi sed, egestas malesuada quam.
    